@import "../../../../css/_mixins.scss";
@import "../../../../css/_theme-vars.scss";
@import "../../css/_skin-vars.scss";

//@mixin theme--md() {
@media #{$media_md} {
	/* Single post header */
	.post_header_wrap_style_style-5 .post_featured.post_featured_bg {
		height: 30rem;
	}
}

//@mixin theme--sm() {
@media #{$media_sm} {
	/* Single post header */
	.post_header_wrap_style_style-5 .post_featured.post_featured_bg {
		height: 20rem;
	}
	.post_header_wrap_style_style-5 .post_header .post_meta_other .post_meta_item.post_author_name,
	.post_header_wrap_style_style-5 .post_header .post_meta_other .post_meta_item.post_date {
		white-space: normal;
	}
}

//@mixin theme--xs() {
@media #{$media_xs} {
    /* Single post header */
	.post_header_wrap_style_style-5 .post_header .post_meta_other {
		margin-top: 1em;
		@include flex-wrap(wrap);
	}
	.post_header_wrap_style_style-5 .post_header .post_meta_other_part2 {
		margin-top: 0.5em;
		@include flex-justify-content(flex-start);
	}
}