@import "../../../../css/_mixins.scss";
@import "../../../../css/_theme-vars.scss";
@import "../../css/_skin-vars.scss";

.single_style_style-2 .page_content_wrap {
	padding-top: 0;
}
.single_style_style-2 .page_content_wrap > .content_wrap {
	padding-top: 0;
}
.single_style_style-2.sidebar_hide .post_header_wrap_in_content {
	padding-top: 4.5em;
	padding-bottom: 1.5em;
	padding-left: 18%;
	padding-right:18%;
	margin-bottom: 0;
	text-align: center;
	margin-top:0;
	margin-left:-185px;
	margin-right:-185px;
}
.single_style_style-2 .has-post-thumbnail .post_header_wrap_in_content {
	margin-top:-8.125rem;
}
.single_style_style-2.sidebar_show .post_header_wrap_in_content {
	padding-top: 4.5em;
	padding-bottom: 1.5em;
	padding-left: 25px;
	padding-right: 25px;
	margin-bottom: 0;
	text-align: center;
	margin-top:0;
	margin-left:0;
	margin-right:0;
}

.single_style_style-2.sidebar_show .has-post-thumbnail .post_header_wrap_in_content{
	margin-top:-5.125rem;
	text-align: center;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 2.5em;
	padding-bottom: 1.5em;
}
.single_style_style-2 .page_content_wrap > .content_wrap .sidebar {
	padding-top: 4.5em;
}
.single-post .sidebar .widget.widget_recent_posts{
	background-color: transparent!important;
	padding-left:0!important;
	padding-right:0!important;
	padding-bottom:0!important;
}



.post_header_wrap_style_style-2 .post_featured {
	margin: 0;
}
.post_header_wrap_style_style-2 .post_featured.post_featured_bg {
	height: 53rem;
}
.post_header_wrap_style_style-2 .post_featured.post_featured_bg:before {
	display: none;
}
.post_header_wrap_style_style-2 .post_featured img {
	max-width: none;
	width: 100%;
}

.post_header_wrap_style_style-2 .post_header .post_title {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.1em;
}
.post_header_wrap_style_style-2 .post_header .post_subtitle {
	@include font(1.2857em, 1.4em, normal);
	margin-top: 1em;
}
.post_header_wrap_style_style-2 .post_header .post_meta_categories {
    margin-top: 0;
	margin-bottom: 1em;
	text-transform: capitalize;
	letter-spacing: 0.8px;
	@include font( 14px, inherit, 400);
}
.post_header_wrap_style_style-2 .post_header .post_meta_other {
	margin-top: 1em;
	@include flex;
	@include flex-direction(row);
	@include flex-align-items(flex-end);
	@include flex-justify-content(center);
	@include flex-wrap(nowrap);
}
.post_header_wrap_style_style-2 .post_header .post_meta_other .post_meta {
	margin-top: 0;
}
.post_header_wrap_style_style-2 .post_header .post_meta_other .post_meta_item {
	white-space: nowrap;
}
.post_header_wrap_style_style-2 .post_header .post_meta_other_part1 {
	@include flex;
	@include flex-direction(row);
	@include flex-align-items(flex-start);
	@include flex-justify-content(flex-start);
	@include flex-wrap(wrap);
}
.post_header_wrap_style_style-2 .post_header .post_meta_other_part2 {
	@include flex;
	@include flex-direction(row);
	@include flex-align-items(flex-start);
	@include flex-justify-content(flex-end);
	@include flex-wrap(nowrap);
}
.post_header_wrap_style_style-2 .post_header .post_meta_other_part2 {
	@include flex-grow(1);
}
.post_header_wrap_style_style-2 .post_author_by {
	margin-right: 0.3em;
}
.post_header_wrap_style_style-2 .post_author_name {
	@include transition-property(color);
}
.post_header_wrap_style_style-2 .post_header .post_meta_other .post_author_name {
	white-space: normal;
}
.post_header_wrap_style_style-2 .post_header .post_meta_other .post_share {
	display: inline-block;
	vertical-align: top;
}
.post_header_wrap_style_style-2 .post_header .post_meta_other .post_share .social_item {
	margin: 0 10px 0 0;
	font-size: 1.15em;
}
.post_header_wrap_style_style-2 .post_header .post_meta_other .post_meta_item:after,
.post_header_wrap_style_style-2 .post_header .post_meta_other .vc_inline-link:after {
	content: '';
	margin: 0 1em 0 0;
}
