@font-face {
    font-family: 'DINCondensed-Bold';
    src: url('d-dincondensed-bold-webfont.woff2') format('woff2'),
         url('d-dincondensed-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}