// @required

// General settings
//------------------------------------------

$theme_icons: "fontello";				// font-family for the font with theme-specific icons
$trx_addons_icons: "trx_addons_icons";	// font-family for the font with plugin-specific icons

$hide_scrollbars_in_gb: false;			// Hide scrollbars in the editor area and in the sidebar in WordPress 5.0+ (or Gutenberg)
